<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
	<title>Dog Clothing List</title>
</head>
<body>
	<a href="/home"><h1>Dog clothing</h1></a>
	
		<table>

	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Type</th>
		<th>Price</th>
		<th>Producer</th>
	</tr>
	
	<tr th:each="clothing : ${clothes}">
		<td th:text="${clothing.id}"></td>
		<td th:text="${clothing.name}"></td>
		<td th:text="${clothing.type}"></td>
		<td th:text="${clothing.price}"></td>
		<td th:text="${clothing.producer.name}"></td>
		<td><a th:href="@{/delete/{id}(id=${clothing.id})}">Delete</a></td>
		<td><a th:href="@{/edit/{id}(id=${clothing.id})}">Edit</a></td>
	</tr>
	</table>

			
	<p><a href="/add">Add</a></p>

</body>
</html>